include header
.wrapper
  // Section Started
  #section-started.section.started.section-title
    // background
    .video-bg
      iframe.map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.0265173395046!2d-79.66895854947249!3d44.41210157899996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882aa3723e3232f1%3A0xe6be031a81155c65!2sGeorgian%20College!5e0!3m2!1sen!2sca!4v1571188426204!5m2!1sen!2sca')
      .video-bg-mask
      #grained_container.video-bg-texture
    // started content
    .centrize.full-width
      .vertical-center
        .started-content
          h1.h-title Contacts
          .h-subtitles
            .h-subtitle.typing-bread
              p.breadcrumbs
                a(href='/') Home
                |  / Contacts
            span.typed-bread
    // mouse button
    a.mouse_btn(href='#' style='display: none;')
      span.icon.fas.fa-chevron-down
  // Section Contacts Info
  #section-contacts-info.section.contacts
    .content
      // title
      .title
        .title_inner Contacts Info
      // contacts items
      .service-items
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-phone
            .name Phone
            .text + (705) 770 02 96
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-envelope
            .name Email
            .text
              a(href='mailto:shahjay.182@gmail.com') shahjay.182@gmail.com
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-map-marker-alt
            .name Address
            .text 369 Essa Road #102, Barrie, Ontario, Canada
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-user-tie
            .name Freelance Available
            .text I am available for Freelance hire
      .clear
  // Section Contacts Form
  #section-contacts.section.contacts
    .content
      // title
      .title
        .title_inner Contacts Form
      // form
      .contact_form.content-box
        form#cform(method='post')
          .group-val
            input(type='text' name='name' placeholder='Name')
          .group-val
            input(type='email' name='email' placeholder='Email')
          .group-val.ct-gr
            textarea(name='message' placeholder='Message')
          .group-bts
            button.btn.hover-animated(type='submit')
              span.circle
              span.lnk Send Message
        .alert-success
          p Thanks, your message is sent successfully.
    .clear
  // Footer
  include footer