footer.footer
  .copy
    p E: shahjay.182@gmail.com
    p T: +1 (705) 770 02 96
  .soc-box
    .follow-label Follow Me
    .soc
    a(target='_blank' href='https://www.pinterest.com/')
        span.icon.fab.fa-pinterest
    a(target='_blank' href='https://www.instagram.com/')
        span.icon.fab.fa-instagram
    a(target='_blank' href='https://dribbble.com/')
        span.icon.fab.fa-dribbble
  .clear
  // Lines
.lines
  .content
    .line-col
    .line-col
    .line-col
    .line-col
    .line-col
script(src='../javascripts/min.scripts.js')
script(src='../javascripts/demo-bar.js')