include header
  // Wrapper
.wrapper
  // Section Started
  #section-started.section.started
    // background
    .video-bg
      .video-bg-mask
      #grained_container.video-bg-texture
      // started content
    .centrize.full-width
      .vertical-center
        .started-content
          h1.h-title
            | Hello, I&rsquo;m 
            strong Jay Shah
            | , Java Developer and 
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Front-end Developer.
          .h-subtitle.typing-subtitle
            p
              | I code cool 
              strong websites
            p
              | I develop 
              strong mobile apps
            p
              | I love 
              strong Spring Boot
          span.typed-subtitle
  // Footer
  include footer
