include header
  // Wrapper
.wrapper
  // Section Started
  #section-started.section.started.section-title
    // background
    .video-bg
      .video-bg-mask
      #grained_container.video-bg-texture
    // started content
    .centrize.full-width
      .vertical-center
        .started-content
          h1.h-title Resume
          .h-subtitles
            .h-subtitle.typing-bread
              p.breadcrumbs
                a(href='/') Home
                |  / Resume
            span.typed-bread
      // mouse button
    a.mouse_btn(href='#' style='display: none;')
      span.icon.fas.fa-chevron-down
    // Section About
  #section-about.section.about
    .content.content-box
      // image
      .image
        img(src='images/man2.jpg' alt='')
      // desc
      .desc
        p
          | Hello! I&rsquo;m Jay Shah. Java developer from CANADA, Ontario , Barrie . I have rich experience in Java Developing and Analyst ,  design and building, also I am good at NodeJS. I love to talk with you about our unique.
        .info-list
          ul
            li
              strong Age:
              |  23
            li
              strong Residence:
              |  India
            li
              strong Freelance:
              |  Available
            li
              strong Address:
              |  Barrie
            li
              strong Phone:
              |  +1 705 770 02 96
            li
              strong E-mail:
              |  shahjay.182@gmail.com
        .bts
          a.btn.hover-animated(href='#')
            span.circle
            span.lnk Download CV
      .clear
    // Section Service
  #section-services.section.service
    .content
      // title
      .title
        .title_inner Services
      // service items
      .service-items
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-code
            .name Web Development
            .text Modern and mobile-ready website that will help you reach all of your marketing.
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-music
            .name Music Writing
            .text Music copying, writing, creating, transcription, arranging and services.
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-ad
            .name Advetising
            .text Advertising services include television, radio, print, mail, and web apps.
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-gamepad
            .name Game Development
            .text Developing memorable and unique mobile android, ios and video games.
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-camera
            .name Photography
            .text Our in-house photography services team made up of professional photographers.
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-mobile-alt
            .name Android Application
            .text Games, playing music, handle network transactions, interacting content etc.
      .clear
  // Section Pricing
  // Section Resume
  #section-history.section.resume
    .content
      .cols
        .col.col-md
          // title
          .title
            .title_inner Experience
          // resume items
          .resume-items
            .resume-item.content-box.active
              .date Jan 2019 - Apr 2019
              .name IT Operation Analyst -BMO Bank.
              .text Collaborate with technical analyst and provide on call solutions.
            .resume-item.content-box
              .date 2017 - 2018
              .name Java Developer - Kronomus International.
              .text Monitored technical aspects of the Java projects. And Clint interaction
            .resume-item.content-box
              .date 2016 - 2017
              .name Java Developer - Labdhi business Solutions.
              .text Optimize your website and apps performance using latest technology.
        .col.col-md
          // title
          .title
            .title_inner Education
          // resume items
          .resume-items
            .resume-item.content-box
              .date 2018 - 2020
              .name Georgian College - Barrie, Ontario, Canada
              .text
                | Degree in Computer Science Georgian Collge Barrie , Ontario, Canada.
            .resume-item.content-box
              .date 2013 - 2016
              .name Bachelors Of Computer Application - India
              .text Coursework - Git, WordPress, Javascript, iOS, Android, CSS, and JavaScript.
  // Section Design Skills
  #section-skills.section.skills
    .content
      // title
      .title
        .title_inner Languages Skills
      // skills items
      .skills.percent.content-box
        ul
          li
            .name Web Design
            .progress
              .percentage(style='width: 90%;')
                span.percent 90%
          li
            .name Java Developer (Spring Boot)
            .progress
              .percentage(style='width: 70%;')
                span.percent 70%
          li
            .name Asp.net MVC
            .progress
              .percentage(style='width: 95%;')
                span.percent 95%
          li
            .name JIRA
            .progress
              .percentage(style='width: 85%;')
                span.percent 85%
  // Section Languages Skills
  #section-skills-lang.section.skills
    .content
      // title
      .title
        .title_inner Languages Skills
      // skills items
      .skills.dotted.content-box
        ul
          li
            .name English
            .progress
              .percentage(style='width: 75%;')
                span.percent 75%
          li
            .name Gujarati
            .progress
              .percentage(style='width: 80%;')
                span.percent 80%
          li
            .name Hindi
            .progress
              .percentage(style='width: 70%;')
                span.percent 70%
  // Section Coding Skills
  #section-skills-code.section.skills
    .content
      // title
      .title
        .title_inner Coding Skills
      // skills items
      .skills.circles.content-box
        ul
          li
            .name Java
            .progress.p90
              // p90 = 90% circle fill color
              .percentage
                span.percent 90%
              span 90%
          li
            .name PHP / MYSQL
            .progress.p75
              // p75 = 75% circle fill color
              .percentage
                span.percent 75%
              span 75%
          li
            .name Angular / JavaScript
            .progress.p85
              // p85 = 85% circle fill color
              .percentage
                span.percent 85%
              span 85%
          li
            .name HTML / CSS
            .progress.p95
              // p95 = 95% circle fill color
              .percentage
                span.percent 95%
              span 95%
  // Section Knowladge Skills
  #section-skills-know.section.skills
    .content
      // title
      .title
        .title_inner Knowledge
      // skills
      .skills.list.content-box
        ul
          li
            .name Website hosting
          li
            .name iOS and android apps
          li
            .name Create logo design
          li
            .name Design for print
          li
            .name Modern and mobile-ready
          li
            .name Advertising services include
          li
            .name Graphics and animations
          li
            .name Search engine marketing
  // Section Interests
  #section-interests.section.service
    .content
      // title
      .title
        .title_inner Interests
      // interests items
      .service-items
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-baseball-ball
            .name Basketball
            .text As well as being a great way to stay fit, basketball can also: help you to make new friends and see them regularly teach you about being a good team player.
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-campground
            .name Camping
            .text Time to sing campfire songs together and play silly games. Time to help each other with the chores – because even chores are fun at camp!.
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-chess-knight
            .name Chess
            .text Learning to play Chess dramatically improves the ability to think rationally. Play Chess to learn and develop patience and thoughtfulness.
        .service-col
          .service-item.content-box
            .icon
              span.fas.fa-headphones
            .name Music
            .text We like music because it makes us feel good.
      .clear
    // Section Team
  // Footer
  include footer