include header
// Wrapper
.wrapper
  // Section Started
  #section-started.section.started.layout-creative
    // background
    .video-bg
      .video-bg-mask
      #grained_container.video-bg-texture
    // started content
    .centrize.full-width
      .vertical-center
        .started-content
          h1.h-title Developing Software
          .h-subtitles
            .h-subtitle.typing-bread
              p.breadcrumbs
                a(href='/') Home
                |  / 
                a(href='/work') Works
                |  / Developing Software
            span.typed-bread
    // mouse button
    a.mouse_btn(href='#' style='display: none;')
      span.icon.fas.fa-chevron-down
  // Work Single
  .section.blog
    .content.content-box
      .single-post-text
        // portfolio content
        .portfolio-info.portfolio-cols
          .description-col
            // title
            .title
              .title_inner Description
            // text
            .single-post-text
              p
                | Throughout the previous years, I have been working in a comparable part as Java Developer and IT Operation Analyst and have been in charge of planning, building, testing and supporting Java applications. Being a key individual from my current group implies that I have been placed accountable for giving coding and examination with respect to assignments and performing unit testing on the pertinent code.
              p
                | I have broad experience in Java (Core), JavaScript, Java web improvement, Java/J2EE code, Spring Boot, Oracle SQL, HTML, XML, and Eclipse. I see myself as a specialist at settling application deserts, and attesting, troubleshooting, and refining programming to create the required item. On an individual level, I can remain sorted out and over my work consistently. Notwithstanding this, I am always trying to enhance my aptitudes and am completely mindful of the most recent advancements in the realm of Java.
          .details-col
            // title
            .title
              .title_inner Details
            // details
            ul.details-list
              li
                strong Categories:
                |  Website
              li
                strong Date:
                |  10 Jan 2018
              li
                strong Client:
                |  Kronomus
              li
                strong Live Preview:
                a(href='https://www.kronomus.com' target='_blank') www.kronomus.com
      .clear
  // Footer
  include footer